@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	border-radius: 0px !important;
}

body {
	color: #FFF;
	background: #262e37;
	text-align: center;
}

#outer-container {
	background: #ACA1A0;
	position: absolute; 
	display: inline-block;
	top: 3em;
	bottom:2em;
	left:0em;
	right:0em;
	overflow: visible !important;
}

#middle-container {
	display: inline-block;
	width:100%;
	height: 100%;
	background: #ACA1A0; 
}

#top-container {
	display: inline-block;
	background: #ACA1A0;
	width: 100%;
	height: 100%;
}
#bottom-container {
	display: inline-block;
	background: #ACA1A0;
	width: 100%;
	height: 100%;
}

.pane {
	border: 5px solid #191D24;
	background: #D8D4C6;
}
.tabs {
	height:100%;
}


.ui-tabs-panel {
	bottom: 0;
	position: absolute;
	top: 3em;
	left: 0;
	right: 0;
}
li {
	border: none !important;
	outline: none !important;
}
.ui-tabs, .tabs li a:hover, .tabs li a {
	cursor: move !important;
	
}
.ui-tabs-nav {
	text-align: left;
	margin-right: 3em;
	border: 2px dashed blue;
	height: 3em;

}
.ui-tabs-nav li {
	text-align: center;
	width: 3em;
	height: 100%;
	background: #FFF;
	display: inline-block;
	text-decoration: none;
	line-height: 3em;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li {
	margin: 0;
	padding: 0;
	outline: none;
	margin-right: -4px;
}
.ui-corner-top {
	width: 3em;
	height: 3em;
	background: #FFF;
	line-height: 0em;
	text-align: center;
	list-style: none;

}
.ui-tabs-anchor {

	width: 100%;
	height: 100%;
	background: yellow;
	line-height: 3em;
	display: inline-block;
	outline: none !important;
	text-decoration: none;
	
}


/* STYLE THIS TO CHANGE THE HANDLE */
.ui-layout-toggler {
	background-color: white;
}

/* TAB TRAVERSE BUTTONS */
#prev-left, #next-left, #prev-right, #next-right {
	width: 3em;
	height: 3em;
	position: absolute;
	top: 0;
}
#prev-left, #prev-right {	
	left: 0;
}
#next-left, #next-right {
	right: 0;
}
.tab-section {
	height: 3em;
	background: orange;
}
/* DRAGGED OUT CONTENT */
.dragged-out-content {
	position:absolute;
	line-height: 3em;
	display:  block !important;
	width:340px;
	height:340px;
	background:#FFF;
	color: #222;
	box-shadow:rgba(34, 34, 34, .5) 10px 10px 10px -5px;
}

.on-top {
	background: lime
}